# -*- coding: utf-8 -*-
# vim: set syntax=jinja ts=2 sw=2 sts=2 et :

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name={{ name }}
Comment={{ comment }}
Categories=Network;X-Qubes-VM;
Icon={{ icon }}
Exec={{ exec }}
