# -*- coding: utf-8 -*-
# vim: set syntax=jinja ts=2 sw=2 sts=2 et :

{
{%- if accumulator | default(False) %}
{%-    if 'code_settings' in accumulator %}
{{ accumulator['code_settings'] | join(',\n') | indent(4, true) }}{% endif %}
{%-    if 'code_settings_files_associations' in accumulator %}
{%-      if 'code_settings' in accumulator %}{{ "," }}{% endif %}
    "files.associations": {
{{      accumulator['code_settings_files_associations'] | join(',\n') | indent(8, true) }}
    }
{%-    endif %}
{%-  endif %}
}
